# Core
Django==4.2.15
psycopg2==2.9.3
celery==5.4.0

# Rest apis
djangorestframework==3.15.1
django-cors-headers==3.11.0
drf-spectacular==0.27.1

# Testing
freezegun==1.2.1
model-bakery==1.5.0
requests-mock==1.9.3
pytz==2024.1
# Settings
django-constance[database]==3.1.0

# Other
requests==2.31.0
django-filter==21.1
tenacity==8.2.3
django-health-check==3.16.5
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-timezone-field<7.0

# Authentication
datapunt-keycloak-oidc @ git+https://github.com/remyvdwereld/keycloak_oidc_top.git@main
djangorestframework-simplejwt==5.3.1
# Algorithm toolbox
geopy==2.4.1
joblib==1.3.2

#redis
redis==3.5.3

#Azure
azure-identity
applicationinsights==0.11.10
opencensus==0.11.2
opencensus-context==0.1.3
opencensus-ext-azure==1.1.9
opencensus-ext-django==0.8.0
opencensus-ext-logging==0.1.1
opencensus-ext-postgresql==0.1.3
opencensus-ext-requests==0.8.0
